<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lubover.singularity.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lubover.singularity.user.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="role" property="role" />
        <result column="balance" property="balance" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insert" parameterType="com.lubover.singularity.user.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, role, balance, create_time, update_time)
        VALUES (#{username}, #{password}, #{nickname}, #{role}, #{balance}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateById" parameterType="com.lubover.singularity.user.entity.User">
        UPDATE user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="role != null">role = #{role},</if>
            <if test="balance != null">balance = #{balance},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM user ORDER BY create_time DESC
    </select>

    <update id="updateBalance">
        UPDATE user SET balance = #{balance}, update_time = NOW() WHERE id = #{id}
    </update>

</mapper>
